html {
    scroll-behavior: smooth;
    scroll-padding: 8rem;
    font-size: 90%;
    // overflow: hidden;

    &::-webkit-scrollbar{
        width: .5rem;
     }
  
     &::-webkit-scrollbar-track{
        background: $black;
        border-radius: 5rem;
     }
  
     &::-webkit-scrollbar-thumb{
        background: $primary-color;
        border-radius: 5rem;
     }
}
body {
    line-height: 1.5;
    color: $black;
    background: $bg-color;
    height: 500vh;
    user-select: none;
}
.container {
    width: $cont-large;
    margin: 0 auto;
}
img {
    display: block;
    width: 100%;
}
h1, h2, h3, h4, h5 {
    line-height: 1.2;
}
section{
    margin-block-start: 6rem;
    padding: 3rem 9%;
 }
.heading{
    text-align: center;
    margin-block-end: 3rem;
 
    h3{
       @include title-text(3rem);
       margin-block-start: 1rem;
    }
 }
.btn{
    display: inline-block;
    margin-block-start: 1rem;
    color:$white;
    font-weight: 700;
    background: $black;
    border-radius: .2rem;
    font-size: 1.4rem;
    padding: .6rem 2rem;
    box-shadow: $shadow;
    cursor: pointer;
    transition: $transition;
 
    &:hover{
       background: $transparent-color;
       transform: scale(1.04);
    }
 }




