.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem 7%; 
    box-shadow: $shadow-1;
    z-index: 100;

    .circle1, .circle2 {
        position: absolute;
        filter: blur(100px);
        border-radius: 50%;
        width: 400px;
        height: 400px;
        opacity: .8;
        z-index: -1;
    }

    .circle1 {
        background-color: $white;
        top: 25rem;
        left: -20rem;
    }

    .circle2 {
        background-color: $primary-color;
        top: 7rem;
        right: -15rem;
    }
    
    #menu-open-btn, #menu-close-btn {
        font-size: 2.5rem;
        color: $white;
        cursor: pointer;
        display: none;
    } 

    .logo {
        display: flex;
        align-items: center;
        gap: .2rem;
        color: $primary-color;
        font-size: 2rem;
        letter-spacing: -2px;
        font-weight: 900;
        text-transform: uppercase;
        transition: $transition;

        &:hover {
            color: $white;
        }

        img {
            width: 35px;
            margin-right: -3px;
        }
    }

    .navbar {
        position: relative;
        display: flex;
        
        a {
            display: flex;
            align-items: center;
            gap: .2rem;
            color: $white;
            font-size: 1.1rem;
            margin: 0 1.5rem;
            font-weight: 500;
            transition: $transition;

            &:hover {
                color: $primary-color;
                text-decoration: underline;
                text-underline-offset: .6rem;
            }
        }

    }
    
}

.scrolling {
    background: $black;
}


/*==========Media Query 1024px==========*/
@media (max-width: 1024px) {
    .header {

        #menu-open-btn {
            display: inline-block;
        }

        .navbar {
            position: absolute;
            flex-direction: column;
            gap: 2rem;
            top: 110%;
            padding: 1.5rem 1rem;
            box-shadow: $shadow;
            background: $bg-color;
            display: none;
            opacity: 0;
            visibility: hidden;
            animation: flipNavbar 1s ease forwards;
            transform-origin: top;
            perspective: 500px;

            @keyframes flipNavbar {
                0% {
                    transform: rotateX(100deg);
                }
                100% {
                    opacity: 1;
                    visibility: visible;
                    transform: rotateX(0deg);
                }
            }

            a {
                display: block;
                color: $white;
            }
        }
    }
}


/*==========Media Query 768px==========*/
@media (max-width: 768px) {
    .header {
        .circle1, .circle2 {
            width: 300px;
            height: 300px;
        }
    
        .circle1 {
            background-color: $primary-color;
            top: 20rem;
            left: -20rem;
        }
    
        .circle2 {
            background-color: $primary-color;
            top: 5rem;
            right: -20rem;
        }
    }
}
