.home {
    display: flex;
    margin-block-start: 3rem;

    .home-content {
        max-width: 70rem;
        text-align: center;
        margin: 0 auto;

        h3 {
            font-size: 3.5rem;
            color: $white;
            letter-spacing: -2px;
        }

        p {
            font-size: 2rem;
            color: $primary-color;
            letter-spacing: -1px;
        }
    }
}

/*==========Media Query 1024px==========*/
@media (max-width: 1024px) {
    .home {

        .home-content {

            h3 {
                font-size: 3rem;
            }

            p {
                font-size: 1.8rem;
            }
        }

    }
}

/*==========Media Query 600px==========*/
@media (max-width: 600px) {
    .home {
        margin-block-start: 5rem;
    
        .home-content {
    
            h3 {
                font-size: 2.5rem;
            }
    
            p {
                font-size: 1.5rem;
            }
        }
    }
}